body{
	background-color: lightyellow;
	}
h1{
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	}
#div1{
	background-color: lightblue;
	margin-right: 25%;
	margin-left: 25%;
	border-radius: 128px;
	}
#div2{
	text-align: center}
#select{
	background-color: lightgreen;
	margin-right: 20%;
	margin-left: 20%;
	border-radius: 64px;}